@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html {
   margin: 0;
   padding: 0;
   border: 0;
   background-color: #040404;
   color: white;
   font-family: "Poiret One", cursive;
  }

  ::-webkit-scrollbar {
  	width: 10px;
  	background: #040404;
  }

  ::-webkit-scrollbar-track {
  	border: solid 7px #040404;
  	border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
  	background: #121212;
  	border-radius: 30px;
  }