#chip {
	-webkit-user-select: none;
	position: absolute;
	width: 120px;
	height: 60px;
	top: 140px;
	left: 690px;
	background: #1db954;
	border-radius: 50px;
	outline: none;
	font-family: "Poiret One";
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	border: transparent;
	cursor: pointer;
}
